body{
    font-size: 14px;
    font-family: Arial;
    line-height: 23px;
}
#wrapper{
    width: 960px;
    margin: 0px auto;
}
#header, #footer{
    background: #029ef3;
}
/* multi-template */
#header.mod-page{
    background: #f39e02;
}
#header.mod-product{
    background: #0d0e0e;
}
ul#main-menu{
    text-align: center;
}
ul#main-menu li{
    display: inline-block;
}
ul#main-menu li a{
    padding: 8px 15px;
    color: #fff;
    display: block;
}
#content{
    min-height: 600px;
    padding: 20px auto;
}
.add_new{
    color: #029ef3;
}
.add_new:hover{
    color: #0066cc;
    text-decoration: underline;
}
/* form */
form{
    width: 250px;
}

label{
    display: block;
    margin-top: 15px;
}
#fullname, #username, #password, #email{
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
}
select{
    display: block;
    width: 100%;
    margin-top: 15px;
}
input[type="submit"]{
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    color: #3c3737;
    background: #cb9737;
    border: 1px solid red;
    /* cursor: pointer; */
}
.success{
    color: #22a6ec;
}
.num_rows{
    font-size: 15px;
    font-style: italic;
    margin-top: 20px;
}
#footer{
    color: #fff;
    text-align: center;
    padding: 8px 0px;
}