body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 23px;
    color: #333;
}
#site{
    position: relative;
    overflow: hidden;
}
#wrapper{
    transition: right 0.25s;
    position: relative;
    right: 0px;
    width: 960px;
    margin: 0px auto;
}
#header{
    position: relative;
    text-align: center;
}
#header, #footer{
    background: grey;
    padding: 15px 10px;
}
#logo{
    display: block;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 5px;
}
#icon-menu-responsive{
    display: none;
    color: #555;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 21px;
    cursor: pointer;
}
#wp-respon-menu{
    transition: right 0.25s;
    /* display: none; */
    background: #444;
    width: 250px;
    color: #f5f5f5;
    position: absolute;
    top: 0px;
    right: -250px;
    height: 100%;
}
#wp-respon-menu h1{
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0px;
}

ul#respon-menu{
    width: 100%;
    left: 0;
}
ul#respon-menu li a{
    text-decoration: none;
    display: block;
    color: #cecece;
    padding: 5px 10px;
    border-top: 1px solid #9c9898;
}
ul#main-menu{
    float: right;
}
ul#main-menu li{
    float: left;
    list-style: none;
}
ul#main-menu li a{
    text-decoration: none;
    display: block;
    color: #cecece;
    padding: 5px 18px;
}
ul#main-menu li:hover a{
    text-decoration: underline;
}
#content, #sidebar{
    min-height: 600px;
    padding: 10px;
}
#content{
    background: red;
   float: left;
   width: 70%;
}

#sidebar{
    width: 30%;
    background: blue;
    float: right;
}

/* Style Responsive menu */
#site.open-respon-menu #wrapper{
    right: 250px;
    transition: right 0.25s;
}
#site.open-respon-menu #wp-respon-menu{
    right: 0px;
    transition: right 0.25s;
}